{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appply For Become A Doctor</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/CSS/all.CSS' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


    <style>
        .nav-bar-menu>ul>li {
            margin-left: 70px;
        }

        .nav-bar-menu>ul>li:hover {
            border-bottom: 1px solid white;
        }

        .nav-bar-menu>ul>li:active {
            border-bottom: 1px solid black;

        }

        .footer-class>ul>li {
            display: inline;
            color: rgb(129, 129, 129);
            margin: 30px;
        }

        @media screen and (max-width: 479px) {
            .title {
                font-size: 20px;
            }
        }
    </style>
</head>


<body>






    <div style="background-color: white;" class="body-style">

        <div style="background-color: white;border:none;text-align: center;" class="status-body">

            <p style="color: black;font-size: 29px;">Be a doctor</p>
          

        </div>
        <div style="width: 90%;height: auto;margin: auto;">
            <div style="width: 29%;height: auto;margin: auto;">



    
                <div style="text-align:center;width: 100%;margin: auto;">
                    {% for message in messages %}


                    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                        <strong>Hey {{ user.first_name }} ! </strong>{{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                    {% endfor %}
                </div>
    
    
        
        
                <form action="{% url 'be_doctor' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input name="username" value="{{ user.username }}" type="hidden">
                        <label for="exampleInputEmail1" class="form-label">Name</label>
                        <input name="name" type="text" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" required>

                        <label for="exampleInputEmail1" class="form-label">Phone</label>
                        <input name="phone" type="text" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" required>

                        <label for="exampleInputEmail1" class="form-label">Address</label>
                        <input name="address" type="text" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" required>


                        <label for="exampleInputEmail1" class="form-label">Nid</label>
                        <input name="nid" type="text" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" required>

                        <input name="veri" value="not_verify" type="hidden">
                            
                    </div>




                    <div style="width:100%;text-align:center;">
                        <button style="background-color: #28c2eb;border: none;border-radius: 20px;" type="submit"
                            class="btn btn-primary">Submit</button>
                        <div>
                </form>



            </div>
        </div>

    </div>









    <footer class="footer">

    </footer>


    <script src="{% static 'homepage.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>


</body>


</html>